<div class="video-player">
  <%= @video.url %>
</div>

<section class="video-details">
  <h2><%= @video.title %></h2>
  <p>Posted by: <%= @video.author.email %></p>
  <% if user_signed_in? %>
    <%= button_to "Upvote", video_votes_path(@video), method: :create, params: {value: 1} %>
    <%= button_to "Downvote", video_votes_path(@video), method: :create, params: {value: -1} %>
  <% else %>
    <p>You must be logged in to vote.</p>
  <% end %>

  <p>Upvotes: <%= @video.upvotes %></p>
  <p>Downvotes: <%= @video.downvotes %></p>
  <p>Net: <%= @video.net_votes %></p>
</section>

<section class="comments">
  <h3>Comments</h3>
  <ul class="comment-list"></ul>
  <% @video.comments.each do |comment| %>
    <li class="comment-listing"><%= comment.body %> - <%= comment.author.email %></li>
  <% end %>
  </ul>
</section>